.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.score-panel{
    text-align: left;
    margin-bottom: 12px;
}
.timer{
    display: inline-block;
    margin: 0 1rem;
}
.restart{
    float: right;
    cursor: pointer;
    margin: 0px 8px;
}